* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.new-section {
  padding-top: 50px;
  text-align: center;
  font-size: 4em;
  font-weight: 100;
}

/* Header styles */

.header-banner {
  text-align: center;
  background-image: linear-gradient(to bottom, #383b56 0%, #70625d); 
  color: #fff;
}

header h1 {
  padding-top: -webkit-calc(50vh - 113px);
  padding-top: expression(50vh - 113px);
  padding-top: -moz-calc(50vh - 113px);
  padding-top: -o-calc(50vh - 113px);
  padding-top: calc(50vh - 113px);
  font-size: 7em;
  font-weight: 100;
}

header h2 {
  font-size: 2em;
}

header span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 50px;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

header span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

header span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

.toggle{
  color: #a9abae;
  margin-right: 10px;
  cursor: pointer;
}

.hide{
  display: none;
  color: #e1c488;
}

.nav li a span {
    display: inline-block;
    color: #999;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
    background-color: #289dcc;
    color: white;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
    color: white;
}

.dropdown-toggle {
  color: #e1c488;
}

ul li {
  text-decoration: none;
  align-items: middle;
}

ul.dropdown-menu {
  padding: 0;
}


li {
  list-style-type: none;
  }


/* Scroll animations styles */
.scroll-animations {
  display: flex;
}

.scroll-animations{
  flex-grow: 1;
  padding: 30px;
  text-align: center;
  opacity: 0;
  color: #333;
}

.scroll-animations {
  font-size: 4em;
  color: #5AA9E0;
}

.scroll-animations div h3 {
  font-size: 1.9em;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Click animations styles */

.click-animations {
  margin-top: 35px;
  padding-bottom: 20px;
}

.click-animations input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  height: 50px;
  width: 50%;
  font-size: 30px;
  outline: none;
  border: 2px solid transparent;
  transition: 0.3s;
}

.click-animations button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  font-size: 30px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.click-animations button:active {
  transform: scale(0.95);
}

.funky-animations {
  text-align: center;
}

.funky-animations h3 {
  font-size: 2em;
}

.funky-animations h4 {
  font-size: 4.5em;
  font-weight: 400;
  /* Fallback color */
  color: #30cc8b;
  background: -webkit-linear-gradient(left, #69bcf4, #30cc8b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 15px;
  font-size: 1.5em;
  background-color: #333333;
}

nav {
  position: relative;
  perspective: 600px;
}

.cool > li > a {
  color: skyblue;
  text-decoration: none;
  font-size: 20px;
  background: rgba(0,0,0,0.2);
  padding:10px 20px;
  display: inline-block;
  margin:20px;
  border-radius:5px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cool > li {
  position: relative;
  display:flex;
  justify-content: center;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding:20px;
  top:-20px;
  border-radius:2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
}

.dropdown.open {
  opacity: 1;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active {
  opacity: 1;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}



.dropdownBackground {
  width:100px;
  height:100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  transition:all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity:0;
}

.dropdownBackground.open {
  opacity: 1;
}


/* Media queries */

@media (max-width: 759px) {
  header h1 {
    font-size: 4em;
  }
  
  .new-section {
    font-size: 3em;
  }
  
  .scroll-animations {
    display: block;
  }
  
  .scroll-animations {
    padding: 20px 80px;
  }
  
}

@media (max-width: 475px) {
  .new-section {
    font-size: 2.5em;
  } 
  }
  header h1 {
    font-size: 3.2em;
  }

  